In [19]:
import pandas as pd

In [20]:
world_cups = pd.read_csv('world_cups.csv')

In [32]:
world_cups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             22 non-null     int64
 1   Host Country     22 non-null     object
 2   Winner           21 non-null     object
 3   Runners-Up       21 non-null     object
 4   Third            21 non-null     object
 5   Fourth           21 non-null     object
 6   Goals Scored     21 non-null     float64
 7   Qualified Teams  22 non-null     int64
 8   Matches Played   22 non-null     int64
dtypes: float64(1), int64(3), object(5)
memory usage: 1.7+ KB

In [33]:
world_cups_cleaned = world_cups.dropna()
world_cups

,Year,Host Country,Winner,Runners-Up,Third,Fourth,Goals Scored,Qualified Teams,Matches Played
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70.0,13,18
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70.0,16,17
2,1938,France,Italy,Hungary,Brazil,Sweden,84.0,15,18
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88.0,13,22
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140.0,16,26
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126.0,16,35
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89.0,16,32
7,1966,England,England,Germany FR,Portugal,Soviet Union,89.0,16,32
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95.0,16,32
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97.0,16,38
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102.0,16,38
11,1982,Spain,Italy,Germany FR,Poland,France,146.0,24,52
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132.0,24,52
13,1990,Italy,Germany FR,Argentina,Italy,England,115.0,24,52
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141.0,24,52
15,1998,France,France,Brazil,Croatia,Netherlands,171.0,32,64
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161.0,32,64
17,2006,Germany,Italy,France,Germany,Portugal,147.0,32,64
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145.0,32,64
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171.0,32,64
20,2018,Russia,France,Croatia,Belgium,England,169.0,32,64
21,2022,Qatar,NaN,NaN,NaN,NaN,NaN,32,64

In [39]:
world_cups_cleaned = world_cups_cleaned.drop_duplicates()
world_cups_cleaned

,Year,Host Country,Winner,Runners-Up,Third,Fourth,Goals Scored,Qualified Teams,Matches Played
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70.0,13,18
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70.0,16,17
2,1938,France,Italy,Hungary,Brazil,Sweden,84.0,15,18
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88.0,13,22
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140.0,16,26
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126.0,16,35
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89.0,16,32
7,1966,England,England,Germany FR,Portugal,Soviet Union,89.0,16,32
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95.0,16,32
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97.0,16,38
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102.0,16,38
11,1982,Spain,Italy,Germany FR,Poland,France,146.0,24,52
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132.0,24,52
13,1990,Italy,Germany FR,Argentina,Italy,England,115.0,24,52
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141.0,24,52
15,1998,France,France,Brazil,Croatia,Netherlands,171.0,32,64
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161.0,32,64
17,2006,Germany,Italy,France,Germany,Portugal,147.0,32,64
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145.0,32,64
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171.0,32,64
20,2018,Russia,France,Croatia,Belgium,England,169.0,32,64

In [35]:
world_cups_cleaned.head()

,Year,Host Country,Winner,Runners-Up,Third,Fourth,Goals Scored,Qualified Teams,Matches Played
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70.0,13,18
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70.0,16,17
2,1938,France,Italy,Hungary,Brazil,Sweden,84.0,15,18
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88.0,13,22
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140.0,16,26

In [ ]:
world_cups_cleaned.tail()

,Year,Host Country,Winner,Runners-Up,Third,Fourth,Goals Scored,Qualified Teams,Matches Played
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161.0,32,64
17,2006,Germany,Italy,France,Germany,Portugal,147.0,32,64
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145.0,32,64
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171.0,32,64
20,2018,Russia,France,Croatia,Belgium,England,169.0,32,64

In [ ]:
years_80s = world_cups_cleaned[(world_cups_cleaned['Year'] >= 1980) & (world_cups_cleaned['Year'] < 1990)]
 years_80s

Мировые Кубки 1980-х:
     Year Host Country     Winner  Runners-Up   Third   Fourth  Goals Scored  \
11  1982        Spain      Italy  Germany FR  Poland   France         146.0
12  1986       Mexico  Argentina  Germany FR  France  Belgium         132.0

    Qualified Teams  Matches Played
11               24              52
12               24              52

In [ ]:
high_goals = world_cups_cleaned[world_cups_cleaned['Goals Scored'] > 150]
high_goals

Кубки с более чем 150 голами:
     Year Host Country   Winner Runners-Up        Third          Fourth  \
15  1998       France   France     Brazil      Croatia     Netherlands
16  2002  Korea/Japan   Brazil    Germany       Turkey  Korea Republic
19  2014       Brazil  Germany  Argentina  Netherlands          Brazil
20  2018       Russia   France    Croatia      Belgium         England

    Goals Scored  Qualified Teams  Matches Played
15         171.0               32              64
16         161.0               32              64
19         171.0               32              64
20         169.0               32              64

In [ ]:
sorted_world_cups = world_cups_cleaned.sort_values(by='Goals Scored', ascending=False)
sorted_world_cups[['Year', 'Goals Scored']]

Кубки, отсортированные по голам:
     Year  Goals Scored
19  2014         171.0
15  1998         171.0
20  2018         169.0
16  2002         161.0
17  2006         147.0
11  1982         146.0
18  2010         145.0
14  1994         141.0
4   1954         140.0
12  1986         132.0
5   1958         126.0
13  1990         115.0
10  1978         102.0
9   1974          97.0
8   1970          95.0
6   1962          89.0
7   1966          89.0
3   1950          88.0
2   1938          84.0
1   1934          70.0
0   1930          70.0

In [ ]:
world_cups_cleaned.describe()

Статистические характеристики:
               Year  Goals Scored  Qualified Teams  Matches Played
count    21.000000     21.000000        21.000000       21.000000
mean   1976.857143    121.333333        21.761905       42.857143
std      26.657618     33.943090         7.462605       17.467930
min    1930.000000     70.000000        13.000000       17.000000
25%    1958.000000     89.000000        16.000000       32.000000
50%    1978.000000    126.000000        16.000000       38.000000
75%    1998.000000    146.000000        32.000000       64.000000
max    2018.000000    171.000000        32.000000       64.000000

In [ ]:
grouped_winners = world_cups_cleaned.groupby('Winner').size().reset_index(name='Count')
grouped_winners

Количество побед каждой страны:
        Winner  Count
0   Argentina      2
1      Brazil      5
2     England      1
3      France      2
4     Germany      1
5  Germany FR      3
6       Italy      4
7       Spain      1
8     Uruguay      2

In [40]:
top_5_winners = grouped_winners.sort_values(by='Count', ascending=False).head(5)
top_5_winners

       Winner  Count
1      Brazil      5
6       Italy      4
5  Germany FR      3
0   Argentina      2
3      France      2